<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Giỏ hàng</title>
</head>
<body>

<h1>Giỏ hàng của bạn</h1>

<div class="divGiua">
    <div th:each="entry : ${cart.items}" style="margin: 20px;">
        <div>
            <h3 th:text="${entry.value.product.getProductName()}"></h3>
            <!-- Hiển thị ảnh sản phẩm -->
            <img th:src="@{${entry.value.product.getAva()}}" alt="Product Image" />
            <!-- Hiển thị giá sản phẩm -->
            <p>Giá: <span th:text="${entry.value.product.getPrice()}"></span></p>
            <!-- Hiển thị số lượng -->
            <p>Số lượng: <span th:text="${entry.value.getQuantity()}"></span></p>
            <!-- Hiển thị tổng tiền (giá * số lượng) -->
            <p>Tổng: <span th:text="${entry.value.product.getPrice() * entry.value.getQuantity()}"></span></p>
            <form th:action="@{/removeFromCart(productId=${entry.getKey()})}" method="post">
                <button type="submit">Xóa khỏi giỏ hàng</button>
            </form>
        </div>

    </div>
</div>

<!-- Hiển thị tổng tiền của giỏ hàng -->
<h3>Tổng tiền: <span th:text="${total}"></span></h3>

</body>
</html>
