<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>
        Welcome to Spring Shop. Let shopping!
    </h1>
    <div>
        <form th:action="@{/search}" method="get">
            <input type="text"  autofocus/>
            <button type="submit">
                Search
            </button>
        </form>
        <div>
            <div th:each="product: ${products}" class="person">
                <div th:text="${product.getProductName()}" class="name"></div>
                <div>
                    <a th:href="'mailto:' +${product.getPrice()}" th:text="${product.getPrice()}"></a>
                </div>
                <div>
                    <img th:src="${product.getAva()}"/>
                </div>
                <div>
                    <div th:text="${product.getQuantity()}">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>